<div>
    <h2>Consulta de tarefas</h2>
    <p>Listagem de tarefas incluídas em sua agenda.</p>
    <hr />
  
  
    <div class="table-responsive">
      <table class="table table-sm table-hover table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Nome da tarefa</th>
            <th>Descrição</th>
            <th>Operações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todoList">
            <td>{{ item.id }}</td>
            <td>
              <span *ngIf="item.completed" class="badge bg-success">
                FINALIZADO
              </span>
              <span *ngIf="!item.completed" class="badge bg-danger">
                EM ABERTO
              </span>
            </td>
            <td>{{ item.title | uppercase }}</td>
            <td>{{ item.description }}</td>
            <td>
              <button class="btn btn-sm btn-outline-primary me-1" [routerLink]="['/pages/todo/edit', item.id]">Editar</button>
              <button class="btn btn-sm btn-outline-danger" (click)="onDelete(item.id)">Excluir</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">Quantidade de tarefas: {{ todoList.length }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>